.flip-container {
    margin: auto;
    width: calc(25vw*1.4);
    height: 25vw;
    perspective: 1000px;
}

.flip-container:hover .flip {
    transform: rotateY(180deg);
}

.flip {
    position: relative;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

#front-pvw-card,
#back-pvw-card {
    margin-top: 5%;
    position: absolute;
    top: 0;
    left: 0;
    backface-visibility: hidden;
}

#front-pvw-card {
    z-index: 2;
}

#back-pvw-card {
    transform: rotateY(-180deg);
    background-color: transparent;
}